<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SvtGuardarUsu</servlet-name>
        <servlet-class>servlet.SvtGuardarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtEditarUsu</servlet-name>
        <servlet-class>servlet.SvtEditarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtEliminarUsu</servlet-name>
        <servlet-class>servlet.SvtEliminarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtIniciarSesion</servlet-name>
        <servlet-class>servlet.SvtIniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtGuardarVictima</servlet-name>
        <servlet-class>servlet.SvtGuardarVic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtEditarVic</servlet-name>
        <servlet-class>servlet.SvtEditarVic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvtEliminarVic</servlet-name>
        <servlet-class>servlet.SvtEliminarVic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtGuardarUsu</servlet-name>
        <url-pattern>/SvtGuardarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtEditarUsu</servlet-name>
        <url-pattern>/SvtEditarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtEliminarUsu</servlet-name>
        <url-pattern>/SvtEliminarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtIniciarSesion</servlet-name>
        <url-pattern>/SvtIniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtGuardarVictima</servlet-name>
        <url-pattern>/SvtGuardarVictima</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtEditarVic</servlet-name>
        <url-pattern>/SvtEditarVic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvtEliminarVic</servlet-name>
        <url-pattern>/SvtEliminarVic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
