h4, h2
{
    width: 100%;
}

nav
{
    background-color: #2B6CA3;
}

#BtnNuevo
{
  margin-left: 4%;
}

@media (max-width:600px)
{
  #BtnNuevo, #BtnGuardar, #BtnBuscar
  {
    width: 25%;
  }
}

.error
{
    color: red;
    margin-left: 7%;
/*    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;*/
}

#mensaje
{
    color: red;
    margin-left: 4%;
}

#BtnLogin
{
    margin-left: 10%;
}

.editar, .nuevo
{
  color: #2B6CA3; 
  margin: 2px;
  padding: 2px;
}

#pasaporte
{
  
}

.eliminar{
  color: red; 
  margin: 2px;
  padding: 2px;
}

.editar:hover, .eliminar:hover, .nuevo:hover{
cursor: pointer;
}
